<table>
<% @albums.each do | album | %>
<tr><td><%= album.name %> (<%= Artist.by_id(album.artist_id).name %>)</td><td><a href="/albums/<%= album.id %>">View</a></td></tr>
<% end %>
</table>
<p><a href="/albums/new">Add Album</a></p>